<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>

  <ion-input></ion-input>

  <ion-input value="Dato"></ion-input>

  <ion-input placeholder="Placeholder"></ion-input>

  <ion-input clearInput value="Limpiar"></ion-input>

  <ion-input type="number" value="123"></ion-input>

  <ion-input value="Disable" disabled></ion-input>

  <ion-input value ="Solo lectura" readonly></ion-input>

  <ion-item>
    <ion-label>Etiqueta</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Floating</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="fixed">Fixed</ion-label>
    <ion-input></ion-input>
  </ion-item>

</ion-content>
